IPFS_CLUSTER_API=http://localhost:9096
IPFS_GATEWAY=http://localhost:8080
IPFS_CLUSTER_USER=admin
IPFS_CLUSTER_PASS=Agni@123

JWT_SECRET=change-me-to-random-hex

CORS_ORIGINS=http://localhost:5173,http://192.168.22.95:5173

MANIFESTS_FILE=./data/manifests.json
DEMO_DATA_DIR=./data/demo-data

MAX_FILE_SIZE_MB=500
IPFS_UPLOAD_TIMEOUT=300
IPFS_FETCH_TIMEOUT=120
